.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: clamp(0.85rem, 2rem, 100%) ;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    z-index: 999;
}



.header_container{
width: 100%;
height: clamp(0.85rem, 2rem, 100%);
padding: clamp(0.55rem, 1.5rem, 100%) 0rem;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.header_container.active {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.053);
    border-radius: 7px;
}

.header_middle{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    gap: 1.3rem;
}

.header_right{
    display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        gap: clamp(0.35rem, 1rem, 100%);
}

.logo{
    height: 20px;
}

.logo > img{
    display: inline-block;
    width: 90px;
    height:30px;
}

.menubtn{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: clamp(0.55rem, 0.75rem, 100%);
        transition: .2s ease-in;
    border: none;
    background: none;
    cursor: pointer;
    text-transform: capitalize;
}

.menubtn:hover {
    padding: 2px 4px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.053);
    border-radius: 7px;
}
.ds{
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

@media (width <= 700px) {
.header_middle {
    display: none;
}
.header_container{
    justify-content: space-between;
}
.ds{
    display: none;
}
}
