.footer_item {
    font-size: 12px;
    transition: .2s ease-in;
}

.footer_item>a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.footer_item:hover {
    text-decoration: underline;
}