.footer{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.footer_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}
